<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WaterFall isn't return | ข้อมูลเขื่อนกักเก็บน้ำต่าง ๆ</title>

  <link rel="stylesheet" href="..\css\styles.css" />
  <link rel="stylesheet" href="..\css\respontive.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600&display=swap" rel="stylesheet">

</head>

<body> 
    <div class = "background"> 
        <div class = "container" data-aos="zoom-in" data-aos-duration="1000">
            <div class = "grid1">
                <div class = "test"> 
                    <div class = "Left">WaterFall isn't return</div>
                    <div class = "Left2">• Bangkok University</div>
                </div>

                <div class = "test2">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="main" >Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="dam" >Dam</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="map" >Radar</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="inquire" >Inquire</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="contact" >Contact</a>
                            </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    
    <div class = "background2"> 
        <div class = "container" data-aos="zoom-in" data-aos-duration="1000"> 
            <div class = "grid2">
                <div class = "TextText">ยินดีต้อนรับสู่เว็บไซต์เตือนประสบอุกทภัย</div>
            </div>
        </div>
    </div>

    <div class = "background3">
        <div class = "container">
            <div class = "grid3" data-aos="zoom-in" data-aos-duration="1000"> 
                <div class = "info">เว็บไซต์ของพวกเราจะช่วยให้คุณรับมือกับเหตุอุทกภัยได้ดีมากยิ่งขึ้น</div>
                <div class = "line"></div>
                <div class = "detail">• ที่มา
                    <br>
                    อุทกภัย คือ ภัยหรืออันตรายที่เกิดจากน้ำท่วม หรืออันตรายอันเกิดจากสภาวะที่น้ำไหลเอ่อ ล้นฝั่งแม่น้ำ ลำธาร หรือทางน้ำ เข้าท่วมพื้นที่ซึ่งโดยปกติแล้วไม่ได้อยู่ใต้ระดับน้ำ หรือเกิดจากการสะสมน้ำบนพื้นที่ซึ่งระบายออกไม่ทันทำให้พ้นที่นั้นปกคลุมไปด้วยน้ำ โดยทั่วไปแล้วอุทกภัยมักเกิดจากน้ำท่วม
                </div>

            <div class = "gridImage">
                <img src="../images/flood.jpg" class = "imageGrid" alt="Trulli">
                
                <div class = "detailImage"> 
                    <div class = "infoCheck">• แจ้งเตือน</div>
                    <div class = "detail2">
                        <br>
                        เราจะทำการช่วยเหลือท่านด้วยระบบแจ้งเตือนของทางเว็บไซต์ ที่จะทำให้ท่านสามารถรับมือกับน้ำท่วมได้อย่างทันท่วงที
                        โดยเราจะวัดจากระดับน้ำในเขื่อนและพื้นที่ที่ฝนตก + ปริมาณน้ำฝนที่ตกลงในแต่ละสถานที่
                    </div>
                </div>
            </div>
        </div>


    <div class = "container" data-aos="zoom-in" data-aos-duration="1000">
        <div class = "grid4" > 
            <div class = "detail">• ความอันตราย
                <br>
                น้ำท่วมเป็นภัยธรรมชาติ และในหลายปีฝนที่ตกลงมาก็เป็นสาเหตุที่ทำให้เกิดปัญหาน้ำท่วมอย่างหนักในหลายจังหวัด ประชาชนในหลายจังหวัดต่างได้รับความเดือดร้อน 
                เสียหายทั้งบ้านเรือน ไร่นา นอกจากเป็นปัญหาทางด้านเศรษฐกิจแล้ว ยังมีปัญหาสุขภาพตามมาอีกด้วย  นับเป็นเรื่องที่น่าเห็นใจเป็นอย่างมาก

                น้ำท่วมในระยะแรกอาจยังไม่มีเชื้อโรคมาก แต่เมื่อกลายเป็นน้ำขังก็จะสกปรกและมีเชื้อโรคมากขึ้น <br>น้ำจึงเป็นที่มาของเชื้อโรคชนิดต่างๆ และหากต้องเดินย่ำน้ำแต่ละวันเป็นเวลานาน 
                ก็จะยิ่งมีโอกาสป่วยด้วยโรคที่มากับน้ำท่วมมากขึ้น โรคอาจมากับน้ำท่วมเช่น โรคผิวผนัง โรคเท้าเปื่อย โรค ท้องร่วง โรคฉี่หนู โรคตาแดง และโรคเครียด เป็นต้น
            </div>
        </div>

        <div class = "gridImage2" data-aos="zoom-in" data-aos-duration="1000"> 
            <div class = "detailImage"> 
                <div class = "infoCheck">• ระดับน้ำเขื่อน</div>
                <div class = "detail2">
                    <br>
                    เรามีระดับน้ำเขื่อนที่สามารถบอกระดับน้ำในเขื่อนเป็น % ได้เลยทั่วประเทศไทย เพื่อทำให้ท่านสามารถเข้าใจได้ว่า น้ำในเขื่อนจะมีการไหลระบายในตอนไหนเมื่อน้ำเขื่อนมีปริมาณที่เยอะมาก 
                    ซึ่งนั่นอาจทำให้เกิดการน้ำท่วมได้ง่ายมากยิ่งขึ้น ฉะนั้นข้อมูลในเขื่อนจึงเป็นข้อมูลที่สำคัญเป็นอย่างมาก
                </div>
            </div>
            <img src="../images/3-2.png" class = "imageGrid2" alt="Trulli">
        </div>
    </div>


    <div class = "container" data-aos="zoom-in" data-aos-duration="1000">
        <div class = "gridImage">
            <img src="../images/4-2.png" class = "imageGrid" alt="Trulli">
    
        <div class = "detailImage"> 
            <div class = "infoCheck">• ระบบแผนที่</div>
            <div class = "detail2">
                <br>
                เรามีระบบ Map Radar ที่ทำให้ท่านสามารถเห็นภาพรวมของเขื่อนทั่วประเทศไทยได้มากขึ้น เป็นภาพดาวเทียมของประเทศไทย 
                ซึ่งจะปรากฎข้อมูลเขื่อนลงในนี้ 
            </div>
        </div>
    </div>



    <div class = "container" data-aos="zoom-in" data-aos-duration="1000">
        <div class = "gridText"> 
            <div class = "infoText">ระบบการทำงาน</div>
        </div>
    </div>

    <div class = "container" data-aos="zoom-in" data-aos-duration="1000" >
        <div class = "gridBootstrap"> 
            <div class="card" style="width: 18rem;">
                <img src="../images/card.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ระบบแจ้งเตือนน้ำท่วม</h5>
                    <p class="card-text">เราจะแจ้งเตือนน้ำท่วมโดยผ่านฟังก์ชันข้อมูลเขื่อนจากระบบแผนที่และข้อมูลฝนตกจากพื้นที่ต่าง ๆ</p>
                    <a href="map"  class="btn btn-primary">รายละเอียด</a>
                </div>
                </div>

                <div class="card" style="width: 18rem;">
                <img src="../images/cardcard.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ระบบแผนที่</h5>
                    <p class="card-text">เว็บไซต์เรามีการบอกรายละเอียดชัดเจน เราจะแจ้งเตือนข้อมูลเขื่อนผ่านระบบแผนที่ที่มีรายละเอียดชัดเจน</p>
                    <a href="map" class="btn btn-primary">รายละเอียด</a>
                </div>
                </div>

                <div class="card" style="width: 18rem;" >
                <img src="../images/cardcardcard.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ข้อมูลเขื่อน</h5>
                    <p class="card-text">เว็บไซต์เรามีการลงลึกเกี่ยวกับข้อมูลรายละเอียดเกี่ยวกับเขื่อนเช่น ระดับน้ำในเขื่อนแต่ละที่ จังหวัดและภาค</p>
                    <a href="dam"  class="btn btn-primary">รายละเอียด</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class = "background4">

        <div class = "container" data-aos="zoom-in" data-aos-duration="1000">
            <div class = "gridTextCard">
                <div class = "textCard" >รายละเอียดเพิ่มเติม</div>
            </div>
        </div>


        <div class = "container">
            <div class = "gridCardBootstrap"> 
                <div class="card border-primary mb-3" style="max-width: 18rem;" data-aos="flip-left" data-aos-duration="1000">
                    <div class="card-header">จังหวัดและภาคเขื่อน</div>
                    <div class="card-body text-primary">
                      <h5 class="card-title">จังหวัดและภาคเขื่อน</h5>
                      <p class="card-text">คุณสามารถเลือกพื้นที่เขื่อนที่คุณต้องการได้จากจังหวัดและภูมิภาคโดยจะปรากฎข้อมูลเขื่อนบนแผนที่ให้รับชม</p>
                    </div>
                </div>

                <div class="card border-info mb-3" style="max-width: 18rem;" data-aos="flip-left" data-aos-duration="1000">
                    <div class="card-header">ปริมาณน้ำในเขื่อน</div>
                    <div class="card-body">
                      <h5 class="card-title">ปริมาณน้ำในเขื่อน</h5>
                      <p class="card-text">เรามีการบอกปริมาณน้ำในเขื่อนผ่าน Radar Map ได้อย่างชัดเจน ว่ามีการเก็บน้ำที่พอดีหรือไม่</p>
                    </div>
                </div>

                <div class="card border-success mb-3" style="max-width: 18rem;" data-aos="flip-left" data-aos-duration="1000">
                    <div class="card-header">ฝนตกเปียกปอน</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">ฝนตกเปียกปอน</h5>
                      <p class="card-text">เรามีการบอกพื้นที่ที่มีขนาดฝนตกได้อย่างชัดเจน และนำไปสู่การรับมือกับน้ำท่วมหรืออุทกภัยที่ร้ายแรง</p>
                    </div>
                </div>

                <div class="card border-secondary mb-3" style="max-width: 18rem;" data-aos="flip-left" data-aos-duration="1000">
                    <div class="card-header">อุทกภัย</div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">อุทกภัย</h5>
                      <p class="card-text">ทั้งจากการปล่อยน้ำที่กักเก็บเกินปริมาณของเขื่อน และข้อมูลฝนตก นำมาสู่ข้อมูลอุทกภัยที่แม่นยำ</p>
                    </div>
                </div>
            </div>

            <div class = "gridlastCard" data-aos="zoom-in" data-aos-duration="1000"> 
                <div class = "textlastCard">นี่เป็นหน้า Home หากคุณต้องการดูข้อมูลเขื่อนให้คุณไปที่เมนูอื่น ๆ Dam , Radar เพื่อดูว่าอุทกภัยจะเกิดขึ้นที่ไหนบ้าง</div>
            </div>
        </div>
    </div>

    <div class = "background5">
        <div class = "container"> 
            <div class = "gridLastCheck">
                <div class = "infoLast">WaterFall isn't return By Student in Bangkok University </div>
            </div>
        </div>
    </div>
    <script src="../js/changePP.js"></script> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>  
    <script>
        AOS.init();
    </script>
</body>
</html>